:root {
    --base: #404040;
    --selected: #3c82f6;
  }
  ::placeholder{
    color: #9d9d9d;
    font-size: 20px;
   }
   ::selection {
    color: white;
    background: #505050;
  }
  input:-webkit-autofill
    {   
        -webkit-text-fill-color: var(--base)!important;
    }
  @keyframes slideupsmallandfade {
    0% {
      opacity: 0;
      transform: translate(0px,20px);
    }
    100% {
      
      opacity: 1;
      transform: translate(0px,0px);
    }
  }
  @keyframes slidedownsmallandfade {
    0% {
        opacity: 1;
        transform: translate(0px,0px);
    }
    100% {
        opacity: 0;
        transform: translate(0px,20px);
    }
  }
body{
    background-color: rgb(248, 250, 252);
    margin: 0px;
    padding: 0px;
    color: var(--base);
}
.shadow{
    box-shadow: 0px 5px 20px 0px #bbbbbb66;
}
.btnshadow{
    box-shadow: 2px 2px 16px 0px #00000038;;
}
.select, input, textarea {
    font-size: 21px;
    height: 33px;
    font-weight: 600;
    letter-spacing: 0.4px;
    display: inline-flex;
    background-color: white;
    color: #505050;
    border-radius: 8px;
    border: 0;
    padding: 7px 7px;
}
button{
    background: none;
    border: none;
    text-decoration: none;
    margin-left: 20px;
    border-radius: 8px;
    padding: 14px;
    font-family: roboto;
    font-size: 15px;
    font-weight: 600;
}
button:hover{
    color: white!important;
    cursor: pointer;
    background: var(--selected);
    box-shadow: 2px 2px 10px 0px #00000052;
}
a{
    all: unset;
    color: var(--text);
    cursor: pointer;
}
hr{
    opacity: 0.3;
}
nav img{
    height: 45px;
    width: auto;
}
nav{
    background: white;
    display: flex;
    padding: 17px 50px;
}
.nav_right{
    margin-left: auto;
    float: right;
    display: flex;
}

.inputarea{
    margin: auto;
    width: 70rem;
    display: block;
    position: relative;
    padding-top: 60px;
    padding-bottom: 100px;
}
.inputarea h1{
    text-align: center;
    color: white;
    font-size: 2.6em;
    font-weight: bold;
    font-family: 'poppins';
}
.searchbar{
    margin: auto;
    display: flex;
    background: white;
    padding: 10px;
    width: fit-content;
    border-radius: 8px;
    box-shadow: 0px 5px 20px 0px #4a4a4a47;
}
.center{
    margin: auto;
}
.search{
    outline: 2px;
    outline-color: red;
    padding: 10px 18px;
    width: 501px;
}
.downbtn{
    display: flex;
    padding: 0px;
    /* margin-left: -93px; */
}
.downbtn button{
    padding: 12px 35px;
    background: var(--selected);
    font-size: 20px;
    margin-left: 0;
    color: white;
    height: 53px;
    width: 155px;
}
.downbtn button:hover{
    background: #256fe7;
}

/* error popup */
.error-box{
    width: -webkit-fill-available;
    margin: auto;
    display: flex;
    position: absolute;
}
.error{
    display: none;
    background: #ff1d1d;
    height: 100px;
    width: 512px;
    margin: auto;
    margin-top: 39px;
    border-radius: 10px;
    box-shadow: 0px 1px 20px 0px #00000033;
    animation-name: slideupsmallandfade;
    animation-fill-mode: backwards;
    transition: all 0.2s ease-out;
    animation-duration: 0.2s;
}
.error-l{
    display: grid;
    height: inherit;
    width: 110px;
    background: #c50100;
    border-radius: 10px 0px 0px 10px;
}
.error-l img{
    height: 50px;
    margin: auto;
    display: block;
}
.error-text{
    color: white;
    font-size: smaller;
    padding: 7px 22px;
    margin: 0px;
    font-family: 'Montserrat';
}
.error-text h5{
    margin: 0px;
    font-size: initial;
}
.error-text p{
    margin: 7px 0px;
}

#valid{
    height: 65px; width: 195px; background: #0cce6c;
}
#valid .error-l{
    background: #03984e; width: 70px;
}
#valid .error-l img{
    height: 30px;
}
#valid .error-text{
    display: grid;
}
#valid .error-text h5{
    margin: auto;
}

.inputarea h3{
    margin-top: 50px;
    color: white;
    font-weight: 300;
    font-size: 15px;
    font-family: poppins;
    text-align: center;
}

.main{
    padding: 20px 80px;
}
.card{
    min-height: 400px;
    max-height: 410px;
    display: flex;
    background: white;
    border-radius: 8px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.card:first-child .backimage img{
    margin: auto; display: block; transform: scale(1.3);width: auto; float: inherit;
}
.card:first-child .des .blah h2 p:first-child{
    all: unset;
    color: #457cff;
}
.card:first-child .des .blah h2 p:nth-child(2){
    all: unset;
    color: #f92f62;
}
.photos h2 p{
    all: unset;
    color: #457cff;
}
.videos h2 p{
    all: unset;
    color: #ff36ee;
}
.reels h2 p{
    all: unset;
    color: #f92f62;
}
.igtv h2 p{
    all: unset;
    color: #ff24a6;
}
.carousel h2 p{
    all: unset;
    color: #f92f62;
}

.tleft{
    flex-direction: row-reverse;
}
.tleft .backimage img{
    border-radius: 0px 8px 8px 0px;
    float: right;
}
.tright{
    /* nkn */
}
.tright .backimage img{
    border-radius: 8px 0px 0px 8px;
    float: left;
}
.backimage{
    width: 50%;
}
.backimage img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.des{
    width: 50%;
    margin: auto;
}
.blah{
    padding: 20px 43px;
}
.des h2{
    letter-spacing: -0.045em;
    font-size: 49px;
    font-family: 'Poppins';
    color: var(--base);
    line-height: 1.3;
    margin-top: 0px;
}
.des p{
    color: var(--base);
    font-size: 18px;
    line-height: 32px;
    font-family: montserrat;
}
.howto{
    width: 100%;
}
.howto h2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: xxx-large;
    font-family: 'Poppins';
    color: var(--base);
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 73px;
    margin-bottom: 33px;
}
.howto h2 p:first-child{
    all: unset;
    color: #924cff;
}
.howto h4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: inherit;
    font-family: 'Poppins';
    color: var(--base);
    font-weight: 200;
    letter-spacing: 1px;
}

.howtocards{
    display: flex;
    width: 100%;
}
.howtocardsstep{
    border-radius: 8px;
    height: fit-content;
    width: 100%;
    background: white;
    margin: 10px;
}
.howtocardsstep img{
    height: auto;
    width: inherit;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
}
.howtosteptext{
    padding: 20px 30px;
}
.howtosteptext h3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 30px;
    font-family: 'Roboto';
    color: var(--base);
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 16px;
}
.howtosteptext p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 18px;
    font-family: 'Roboto';
    color: var(--base);
    font-weight: 300;
    letter-spacing: 1px;
}
.features{
    width: 100%;
}
.features h3 p{
    all: unset;
    color: #f92f62;
}
.features h3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 2em;
    font-family: 'Poppins';
    color: var(--base);
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 73px;
    margin-bottom: 83px;
}

footer{
    margin-top: 150px;
    padding: 20px 0px;
    width: 100%;
    /* margin: auto; */
    background: white;
}
.flogo{
    margin-bottom: 20px;
}
.flogo img{
    margin: auto;
    display: block;
    height: 40px;
    margin-bottom: 40px;
}
.flneed{
    margin: auto;
    width: 65%;
    display: block;
    height: auto;
    font-family: sans-serif;
    color: #777777;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}
.flneed a{
    text-align: center;
    padding: 10px;
}
footer hr{
    width: 80%;
}
.year{
    font-size: smaller;
    font-family: 'Roboto';
    text-align: center;
    color: #a2a2a2;
    padding-top: 9px;
    font-weight: 300;
    letter-spacing: 1px;
}










.w-full {
    width: 100%;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.to-red-600 {
    --tw-gradient-to: #dc2626;
}
.via-pink-600 {
    --tw-gradient-stops: var(--tw-gradient-from),#db2777,var(--tw-gradient-to,rgba(219,39,119,0));
}
.from-blue-600 {
    --tw-gradient-from: #2563eb;
    /* --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(37,99,235,0)); */
}
.bg-gradient-to-tr {
    background-image: linear-gradient(to top right,var(--tw-gradient-stops));
}


/* Ellipsis */
.lds-ellipsis {
	display: none;
  position: relative;
  /* width: 80px;
  height: 80px; */
  margin-top: -39px;
  margin-left: 12px;
  /* margin: auto; */
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: white;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}



/* for privacy policy page */

.privacy{
    margin-top: 50px;
}
.privacy h1{
    font-weight: 600;
    font-family: 'Roboto';
    margin-top: 50px;
}
.privacy p{
    font-weight: 300;
    font-family: sans-serif;
}

/* for contact page */
.contact-main{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    margin-top: 70px;
}
.contact-card{
    width: 300px;
    background: #ff0279;
    color: #777777;
    font-family: 'poppins';
    border-radius: 22px;
    padding: 10px 50px;
    backdrop-filter: blur(10px);
    background: white;
    /* backdrop-filter: blur(62px); */
    margin: auto;
}
.contact-card strong{
    margin-top: 10px;
    display: block;
    text-decoration: underline;
}

/* for t&c */

.tnc{
    margin-top: 50px;
    font-weight: 300;
    font-family: sans-serif;
}
.tnc h3{
    font-weight: 400;
    font-family: 'Roboto';
    margin-top: 50px;
}
.tnc p{
    font-weight: 300;
    font-family: sans-serif;
}

/* mobile */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    ::placeholder{
        color: #9d9d9d;
        font-size: 14px;
       }
    /* nav */
    header{
        width: 100%;
    }
    .nav_right{
        display: none;
    }
    nav{
        padding: 11px 14px;
    }
    nav img{
        height: 40px;
    }
    /* inputarea */
    .inputarea{
        width: 100%;
        padding-bottom: 45px;
    }
    .inputarea h1{
        font-size: 1.6em;
    }
    .inputarea h3{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .searchbar{
        background: none;
        display: grid;
        margin: auto;
        width: 100%;
        padding: 0;
    }
    .search{
        width: 80%;
        padding: 20px;
        margin: auto;
        font-size: inherit;
    }
    input{
        height: 18px;
    }
    .downbtn{
        margin-top: 20px;
    }
    .downbtn button{
        margin: auto;
    }

    .error{
        width: 60%;
        height: 70px;
    }
    .error-l{
        width: 30%;
    }
    .error-l img {
        height: 28px;
    }
    .error p{
        display: none;
    }
    .error-text{
        margin: auto;
    }
    .red h5{
        display: none;
    }
    .red{
        visibility: hidden;
        position: relative;
    }
    .red::after{
        visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "Invalid URL!";
    width: 102px;
    margin: auto;
    display: contents;
    font-weight: 700;
    letter-spacing: 0px;
    font-size: medium;
    }


    .main{
        padding: 20px 19px;

    }
    .howto h2{
        font-size: 2em;
        font-weight: 700;
        line-height: 33px;
    }
    .features h3{
        font-size: 1.7em;
        font-weight: bold;
        margin-bottom: 0;
        margin-top: 29px;
    }
    .howto h4{
        font-weight: 400;
        letter-spacing: 0px;
    }
    .howtocards{
        display: grid;
    }
    .howtocardsstep{
        margin: 0;
        margin-bottom: 30px;
    }
    .card{
        display: grid;
        height: fit-content;
        min-height: fit-content;
        max-height: fit-content;
        width: fit-content;
    }
    .backimage {
        width: 100%;
    }
    .backimage img{
        height: 340px;
        width: inherit!important;
        transform: scale(1)!important;
        border-radius: 8px 8px 0px 0px!important;
    }
    .carousel img{
        object-position: right;
    }
    .des {
        width: 100%;
    }
    .des h2{
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 0px;
        margin-bottom: 0px;
    }
    .des p{
        font-size: 14px;
        line-height: 23px;
    }
    .blah {
        padding: 20px 15px;
    }

    .flneed{
        display: grid;
    }
    .flneed a{
        margin-bottom: 10px;
    }
  }